
.home-section{
    width: 100%;
    height: 100vh;
    margin: 0 10px;
}
.welcome-container{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.get-started-btn{
  padding: 5px;
  font-family: inherit;
  font-size: large;
  border-radius: 5px;
  box-shadow: 0 1px 5px;
  /* animation: shake 5s ease-in infinite; */
  animation: fade-out-down 2s ease 1;
  cursor: pointer;
  color: black;
}
.get-started-btn:hover{
  color: #a7421a;
  text-decoration: none;
}
.logo {
  animation: grow 5s ease ;
  width: 20rem;
}

.body-container{
    width: 80%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.nav-section{
    width: 100%;
    background-color: #a7421a65;
    color: whitesmoke;
    display: flex;
    /* flex:1; */
}
.navbar{
    width: 80%;
    justify-content: space-between;
    align-items: center;
    /* flex:1; */
    margin: auto;
    height: 5rem;
}
.user-section {
    display: inline-block;
}

.dropdown {
  position: relative;
  color: black;
  z-index: 2;
}
.dropdown-btn{
    border: none;
    background-color: #a7421a00;
    color: whitesmoke;
    font-size: 17px;
}
.dropdown-btn:hover{
  color: rgba(102, 102, 102, 0.507);
}
.link{
  text-decoration: none;
  color: whitesmoke;
  margin: 10px;
  font-weight: 500;
  font-size: large;
}
.link:hover{
  color: rgba(0, 0, 0, 0.651);
  text-decoration:wavy;
}
.menu {
  position: absolute;
  list-style-type: none;
  margin: 3px 0;
  padding: 0;
  border: 1px solid rgba(128, 128, 128, 0.205);
  border-radius: 5px;
  box-shadow: 0 1px 2px; 
  width: 100px;
}

.menu > li {
  margin: 0;
  background-color: white;
  padding: 4px;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > a ,.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;
  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}
.list-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin-top: 20px; */
}
.hotel-item{
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.212);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.562) ;
}
.hotel-item ul{
  list-style: none;
}
.img-container{
  display: inline-flex;
}
.img{
  height: 15rem;
  width: 25rem;
  float: left;
}
.info-container{
  float: right;
  margin-left: 10px;
  text-wrap: wrap;
  width: 30rem;

}
.detail-btn,.booking-btn{
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #a7421a65;
  border: 1px solid rgba(128, 128, 128, 0.233);
  padding: 5px;
  font-weight: 700;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  color: whitesmoke;
  font-size: large;
  cursor: pointer;
}
.booking-btn{
  right: 140px;
}
.detail-btn:hover ,.booking-btn:hover{
  background-color: rgba(150, 147, 147, 0.308);
  color: #a7421a65;
  border: none;
}
.detail-body{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-container{
  width: 65rem;
  /* min-height: 50rem; */
  padding-bottom: 40px;
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.253);
  border-radius: 10px;
  box-shadow: 0 3px 10px grey;
  position: relative;
}
.detail-image-container{
  margin: 20px;
}
.detail-image{
  display: flex;
  height: 30rem;
  width: 62rem;
  border-radius: 10px;
}
.detail-info-container{
  list-style: none;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.detail-link{
  color: #a7421a7e;
  position: absolute;
  width: fit-content;
  padding: auto;
  bottom: 25px;
}
.detail-link:hover{
  color: #a7421a;
}
.booking-body{
  margin: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.booking-container{
  border: 1px solid rgba(0, 0, 0, 0.288);
  max-height: 44rem;
  height: fit-content;
  width: fit-content;
  border-radius: 5px;
  box-shadow: 0 2px 10px;
  position: relative;
  padding: 20px;
}
.booking-image{
  height: 25rem;
}
.booking-info-container{
  list-style: none;
  padding: 5px;
  margin: 0 0 40px 10px
}
#pay-btn{
  margin-top: 10px;
  padding: 5px;
  background-color:#a7421a7c;
  border: 1px solid #a7421a2f;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#pay-btn:hover{
  background-color:#a7421a;
}
.row-date{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-container{
  margin: auto;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}
#search-bar{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: white;
  color: black;
}
.loading-screen{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-panel{
  width: 80%;
  height: 100vh;
}
.user-nav{
  float: left;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.user-panel-btn{
  border: none;
  background-color: white;
  margin-left: 20px;
  font-size: large;
  font-weight: 500;
}
.user-body{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.user-panel-btn:hover{
  border-bottom: 5px solid #a7421a65;
}
.profile-container{
  margin-left: 5rem;
  width: 100%;
}
.profile-box{
  border: 1px solid rgba(0, 0, 0, 0.24);
  box-shadow: 2px 2px 5px black;
  width: 40%;
  padding: 10px 20px;
}
@media (max-width:1200px){
  .info-container{
    width: 23rem;
  }
  .detail-container,.booking-container{
    width: 40rem;
  }
  .detail-image,.booking-image{
    height: 20rem;
    width: 37rem;
  }
  .detail-info-container,.booking-info-container{
    font-size: medium;
    text-wrap:wrap;
  }
}

@media (max-width:970px){
  .info-container{
    width: 25rem;
  }
  .hotel-items{
    margin-top: 30px;
    align-items: center;
  }
  .img{
    float: none;
  }
}

@media (max-width:850px){
  .info-container{
    width: 20rem;
  }
}
@media (max-width:780px){
  .info-container{
    width: 25rem;
  }
  .hotel-items{
    width: 100%;
  }
  #search-bar{
    width: 30rem;
  }
  .hotel-item{
    justify-content: center;
    min-width: 30rem;
    width: fit-content;
    margin: auto;
    margin-bottom: 25px;
    height: fit-content;
  }
  .hotel-item ul{
    min-height: 27rem; 
    height: fit-content;
  }
  .img-container{
    display: flex;
  }
  .detail-container,.booking-container{
    width: 25rem;
  }
  .booking-container{
    min-height: 35rem;
    height: fit-content;
  }
  .detail-image,.booking-image{
    height: 15rem;
    width: 22rem;
  }
  .detail-info-container,.booking-info-container{
    font-size: small;
    text-wrap:wrap;
  }
}

@media (max-width:500px){
  #search-bar{
    width: 100%;
  }
  .hotel-item{
    font-size: small;
    margin: 0 5px 10px 0;
  }
  .hotel-item ul{
    font-size: small;
  }
  .detail-btn{
    font-size: small;
  }
  .booking-btn{
    font-size: small;
    right: 110px;

  }
}

@keyframes fade-out-down {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

@keyframes grow {
  from { transform: scale(0); }
  to { transform: scale(1); }
}