@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Slabo+13px&display=swap');
@import "tailwindcss";
:root {
  
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  width: 100%;
}
.error-message{
  color: red;
  border: 1px solid ;
  background-color: #ff9d9dbe;
  font-size: 13px;
  width: fit-content;
}

.register-box,.login-box{
  border: 2px solid rgba(0, 0, 0, 0.308);
  background-color: #a7421a65;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width:25%;
  border-radius: 10px;
  padding: 20px;
  color: rgba(255, 255, 255, 0.87);
}
h1{
  font-weight: bolder;
  font-size:50px;
}
label{
  font-weight: bold;
}
#register-btn,#login-btn{
  padding: 5px;
  width: 150px;
  background-color: #a7421a65;
  font-weight: bold;
  font-size: large;
  border: none;
  color: whitesmoke;
}
#register-btn{
  width: 200px;
}
.login-container,.register-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.login-box{
  width: 35%;
  padding: 4rem;
  height:50%;
}
.register-box{
  width: 35%;
  height:max-content;
  padding: 4rem;
}
.login-box #link{
  text-decoration: none;
  text-align: center;
  align-items: center;
  color: white;
  font-size:large;
  margin: 10px 0;
}
.login-box #link:hover{
  text-decoration: underline;
}

.register-box #link{
  text-decoration: none;
  text-align: center;
  align-items: center;
  color: white;
  font-size:medium;
  margin: 10px 0;
}
.register-box #link:hover{
  text-decoration: underline;
}

.input-area{
  width: 100%;
}
input[type=checkbox] {
  background-color: white;
}
input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 1em;
}
.checkbox-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}
.checkbox-wrapper label{
  display:flex;
  align-items: center;
  width: 100%;
  margin-right: 9px;
}
.checkbox-admin{
  margin: 5px 0 5px 0;
  font-size: large;
}
.input-email,.input-name,.input-secret-key,.input-password{
  color: black;
  background-color: white;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.input-password{
  position: relative;
}
.eye-btn{
  background-color: #a7421a00;
  position: absolute;
  border: none;
  font-size: large;
  color: white;
}
.eye-btn:hover{
  color: rgb(224, 222, 222);
  cursor: pointer;
}
@media (max-width:1200px){
  .register-box h1{
    font-size: 50px;
  }
  .register-box,.login-box{
    width: 30%;
  }
}

@media (max-width:1000px){
  .register-box h1{
    font-size: 40px;
  }
  .register-box,.login-box {
    width: 40%;
  }
  .login-box #link{
    font-size: small;
  }
}

@media (max-width:700px){
  .register-box h1{
    font-size: 40px;
  }
  button{
    width: 135px;font-size: medium;
  }
  .register-box ,.login-box{
    width: 45%;
  }
}@media (max-width:400px){
  .register-box h1{
    font-size: 40px;
  }
  button{
    width: 135px;font-size: medium;
  }
  .register-box ,.login-box{
    width: 60%;
  }
}


