
.add-container,.update-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: center;
    margin-top: 20px;
}
.add-box,.update-box{
    border: 1px solid rgba(0, 0, 0, 0.164);
    box-sizing: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px;
    align-items: center;
    background-color: #ad492260;
    color: white;
    width: 60%;
}
.type-select{
    padding: 5px;
    width: 100%;
    height: 2.5rem;
    color: rgba(0, 0, 0, 0.493);
    background-color: white;
}
.input-addroom{
    width: 100%;
    padding: 8px;
    background-color: white;
    color: black;
}
.row-input{
    width: 33rem;
}
.description{
    width: 52rem;
}
#addroom-btn,#updateroom-btn{
    margin-top: 10px;
    background-color: #a7421a65;
    border: 1px solid rgba(128, 128, 128, 0.233);
    padding: 10px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#addroom-btn:hover{
    background-color: rgba(150, 147, 147, 0.308);
    color: #a7421a65;
    border: none;
}
.admin-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.admin-hotel-list{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#delete-btn,#update-btn,#cancel-btn{
    text-decoration: none;
    color: black;
    border: 1px solid;
    background-color: rgb(29, 117, 189);
    padding:5px 9px;
    font-size: inherit;
    font-family: inherit;
    height: 35px;
    width: 65px;
}
#delete-btn:hover,#update-btn:hover,#cancel-btn:hover{
    color: rgb(255, 255, 255);
}
.update-textarea{
    height: 50px;
}
.nav-admin{
    width: 60%;
}
.admin-btn{
    padding: 5px;
    margin: 20px;
    border:none;
    background-color: whitesmoke;
    font-size: medium;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.623);
    cursor: pointer;
}
.admin-btn:hover{
    border-bottom: 5px solid #a7421a65;
    color: rgb(0, 0, 0);
}
.title{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}
@media (max-width:1400px){
    .css-y2ff7i-MuiPaper-root-MuiTableContainer-root{
        width: 20rem;
    }
}